h1 { color: white;  }

body { background: black; color: white }

div {background-color: orange; background:orange; background-attachment: orange  }

.elemento { height: 100px; width: 100px; background-color: orange }

svg {background: black}



